.service__item {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(68, 162, 85, 0.1);
  max-width: 500px;
  margin: 20px auto;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.service__item:hover {
  transform: translateY(-5px);
  color: rgb(45, 82, 38);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.service__img {
  max-width: 80%;
  height: auto;
  display: -moz-box;
}

.service__img img {
  width: 60px;
}

.service__item h5 {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

.service__item p {
  font-size: 1rem;
  color: var(--text-color);
}
